.submit-button {
  padding: 0;
  background: transparent;
  border: none;
  display: flex;
  align-self: center;
}

.submit-button:hover {
  cursor: pointer;
}

.submit-button:focus {
  outline: none;
}