button {
  display: flex;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: var(--color-gray-dark);
  outline: none;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s;
  position: relative;
  top: -39px;
  left: 42%;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: none;
}

button span {
  flex: 1;
  align-self: center;
  font-size: 32px;
  color: var(--color-white);
}
