#error-loading img {
  width: 100%;
}

#error-loading span {
  color: #222;
}

.absolute {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 9999;
}

.relative {
  display: flex;
  flex-direction: column;
  position: relative;
  left: -50%;
}
