.container {
  overflow: scroll;
  padding: 14px 28px;
  background-color: var(--color-white);
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 34px 48px;
    width: 60%;
    margin: 0 auto;
    max-width: 1220px
  }
}



