.item {
  display: flex;
  align-items: center;
  padding: 10px 8px;
  margin-bottom: 12px;
  background-color: var(--color-white);
}



.item[data-is-mobile="false"]:hover .trash {
  display: block;
}

.item[data-is-mobile="false"]:hover {
  background-color: rgba(255, 168, 0, 0.2);
}

.trash {
  display: none
}

.circle-btn-input-wrapper { 
  display: flex; 
  flex-grow: 1; 
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }

 .circle-btn-wrapper {
   margin-right: 16px;
 }

.cross-task {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

.input-edit-task {
  padding: 0;
  margin: 0;
  font: inherit;
  line-height: 28px;
  font-size: 24px;
  outline: none;
  border: none;
  color: var(--color-black);
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-edit-task::placeholder { 
  line-height: 28px;
  color: var(--primary-color);
}




