@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

html, body, .app, #root, .container {
  height: 100%;
}


body {
  font-family: 'Work Sans', sans-serif;
  --primary-color: #FFA800;
  --secondary-color: #ffffff;
  --color-white: #F6F6F6;
  --color-black: #000000;
  background-color: #E5E5E5;
}

form {
  display: flex;
  padding-left: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #3D3D3D;
}

label, input {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}










