@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

html {
  --color-yellow: #e5d13f;
  --color-yellow-light: #ffff72;
  --color-gray: #30383f;
  --color-gray-dark: #081219;
  --color-white: #ffffff;
  --font-family-main: "Roboto", sans-serif;
  --height-header: 80px;
  --padding-header: 20px;
}

body {
  color: #30383f;
  font-family: var(--font-family-main);
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #e1e2e1;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: var(--height-header);
  padding-top: var(--padding-header);
  background-color: #e5d13f;
  color: var(--color-gray-dark);
}

header h1 {
  font-size: 24px;
}

.card-container {
  flex-grow: 1;
  margin-top: -40px;
}

.btn-add-container {
  display: flex;
  justify-content: center;
}

footer {
  height: var(--height-header);
  background-color: var(--color-yellow-light);
}

@media only screen and (min-width: 769px) {
  .wrapper {
    width: 60%;
  }
}
